<!DOCTYPE html>
<html lang="zh" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml">
<head>
    <title>无线MAC帧详解 - Windeal_Blog</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="baidu-site-verification" content="cnKNvzL2bE" />



<link rel="canonical" href="http://windeal.github.io/tcpipxie-yi/WirelessMacFrame.html">

        <meta name="author" content="Windeal.Li" />
        <meta name="keywords" content="wireless,MAC" />
        <meta name="description" content="Mac帧由三个基本域组成 Mac Header Frame Body FCS Frame Ctrl Frame 含2Byte（16位），可以进一步分为以下子字段：" />

        <meta property="og:site_name" content="Windeal_Blog" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="无线MAC帧详解"/>
        <meta property="og:url" content="http://windeal.github.io/tcpipxie-yi/WirelessMacFrame.html"/>
        <meta property="og:description" content="Mac帧由三个基本域组成 Mac Header Frame Body FCS Frame Ctrl Frame 含2Byte（16位），可以进一步分为以下子字段："/>
        <meta property="article:published_time" content="2015-11-05" />
            <meta property="article:section" content="TCPIP协议" />
            <meta property="article:tag" content="wireless" />
            <meta property="article:tag" content="MAC" />
            <meta property="article:author" content="Windeal.Li" />


    <!-- Bootstrap -->
        <link rel="stylesheet" href="http://windeal.github.io/theme/css/bootstrap.min.css" type="text/css"/>
    <link href="http://windeal.github.io/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="http://windeal.github.io/theme/css/pygments/native.css" rel="stylesheet">
    <link rel="stylesheet" href="http://windeal.github.io/theme/css/style.css" type="text/css"/>
        <link href="http://windeal.github.io/static/css/mystyle.css" rel="stylesheet">





</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://windeal.github.io/" class="navbar-brand">
Windeal_Blog            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">  
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Blog分类<b class="caret"></b>  
                    </a>
                    <ul class="dropdown-menu">
                            <li >
                            <a href="http://windeal.github.io/others/index.html">Others(1)</a>
                            </li>
                            <li >
                            <a href="http://windeal.github.io/pelican/index.html">Pelican(2)</a>
                            </li>
                            <li class="active">
                            <a href="http://windeal.github.io/tcpipxie-yi/index.html">Tcpip协议(1)</a>
                            </li>
                    </ul>
                </li>
                    <li><a href="/About.html">About Me</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://windeal.github.io/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-sm-9">
    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="http://windeal.github.io/tcpipxie-yi/WirelessMacFrame.html"
                       rel="bookmark"
                       title="Permalink to 无线MAC帧详解">
                        无线MAC帧详解
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                <div class="panel">
                    <div class="panel-body">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2015-11-05T00:00:00+08:00"> 2015-11-05</time>
    </span>


            <span class="label label-default">By</span>
            <a href="http://windeal.github.io/author/windealli.html"><i class="fa fa-user"></i> Windeal.Li</a>

        <span class="label label-default">Category</span>
        <a href="http://windeal.github.io/tcpipxie-yi/index.html">TCPIP协议</a>


<span class="label label-default">Tags</span>
	<a href="http://windeal.github.io/tag/wireless.html">wireless</a>
        /
	<a href="http://windeal.github.io/tag/mac.html">MAC</a>
    
</footer><!-- /.post-info -->                    </div>
                </div>
                <h1 id="toc_f9c53f31a677a0989b5517ad12fded60">802.11 MAC帧（无线MAC帧）</h1>
<p><img alt="Paste_Image.png" src="/static/images/TCPIP/wirelessMacFrame01.png"/></p>
<p>Mac帧由三个基本域组成：
+ <strong>Mac Header：</strong>包括帧控制（ Frame Control） 、 时长（ Duration） 、 地址（ Address） 等
+ <strong>Frame Body：</strong>代表数据域。 这部分内容的长度可变， 其具体存储的内容由帧类型（ type） 和子类型（ sub type） 决定。
+ <strong>FCS：</strong>    （ Frame Check Sequence， 帧校验序列） 用于保障帧数据完整性。
　　我们主要关注Mac Header部门，我们来逐个分析下Mac Header中的字段</p>
<h3 id="toc_2f3366f64345d5c0266c67089d5401ac">Frame Ctrl</h3>
<p>Frame 含2Byte（16位），可以进一步分为以下子字段：</p>
<p><strong>(1) Protocol Version：</strong>
　　代表802.11 MAC帧的版本号。 目前的值是0。</p>
<p><strong>(2) Type和Subtype: </strong>
　　Type字段有00，01，10，11四种取值，将802.11中MAC帧分别划分为control、 data和management三种类型（Type=11保留）。
　　Type与Subtype结合可以802.11MAC帧细分为以下类型（不全）。（本文后面对各个子类型进一步介绍）</p>
<p>|Type（b3b2)           | 类型描述       |  Subtype(b7-b4)       |   子类型描述                  |
|:--------------------:|:--------------:|:---------------------:|:-----------------------------:|
|        00            |    Management  |        0000/1         | Association Request/Response  |
|        00            |    Management  |        0100/1         | Probe  Request/Response       |
|        00            |    Management  |        1000           |  Beacon帧                     |
|        00            |    Management  |        1101           | Action帧                      |
|        01            |    Control     |        1010           | PS-POLL帧，（省电轮询）       |
|        01            |    Control     |        1011           |    RTS                        |
|        01            |    Control     |        1100           |    CTS                        |
|        01            |    Control     |        1101           |     ACK                       |
|        01            |    Data        |         0000          |     Data                      |
|        11            |    保留        |        0000-1111      |    保留                       |</p>
<p><strong>(4)To DS 和 From DS: </strong>
　　只用在数据类型的帧中。DS即Distribution System。 From DS和To Ds分别表明数据帧是否来自或去往DS。（这里的来自和去往分别对应最初的源地址，和最终的目的地址。如STA经DS发往另一个STA，则该帧既不来自DS，也不去往S，而是STA和STA之间的通信。）</p>
<p>| To DS |  From DS |                          含义                    |
|--------|------------|-----------------------------------|
|     0     |         0       | 即不来自DS也不去往DS, 即STA与STA之间的通信。也可能是管理帧或控制帧。 |
|     0    |        1         |  表明该帧有DS 发往非DS， 一般是AP发给STA  |
|     1      |        0        |表明该帧由非DS发往DS，一般是STA发给AP   |
|    1    |        1            | 该帧来自DS，又去往DS，其实就是只带AP与AP之间的数据帧     |</p>
<p><strong>(6) More Fragments: </strong>
　　表明数据是否分片。 只支持data和management帧类型。</p>
<p><strong>(7) Retry: </strong>
　　如果该值为1， 表明是重传包。</p>
<p><strong>(8) Power Management: </strong>
　　表明发送该帧的STA处于活跃模式还是处于省电模式。</p>
<p><strong>(9) More Data: </strong>
　　和省电模式有关。 AP会为那些处于省电模式下的STA缓冲一些数据帧， 而STA会定时查询是否有数据要接收。 该参数表示AP中还有缓冲的数据帧。 如果该值为0， 表明STA已经接收完数据帧了（ 下节将介绍省电模式相关的内容） 。</p>
<p><strong>(10): Protected Frame: </strong>
　　表明数据是否加密。</p>
<p><strong>(11): Order: </strong>
　　 指明接收端必须按顺序处理该帧。</p>
<h3 id="toc_874aa9a75d9b6069541e2015965bc276">Duration/ID</h3>
<p>Duration/ID域占2字节共16位， 其具体含义根据Type和Subtype的不同而变化， 不过大体就两种， 分别代表ID和Duration。</p>
<h3 id="toc_2484ff410437e1cc53cfb866e9263f99">Address (Address1~Address4)</h3>
<p>首先，我们要知道，这里的Address以Mac地址的形式表示。网络传输中，Mac地址需要考虑字节序。Mac地址，字节序为Big-endian， 即最高字节在前。比特序为Little-endian， 即最低位在前。
　　802.11 MAC帧头部分共包含四个Address域（一个可选）， 但规范中却有五种地址定义， 分别如下：</p>
<p>| 序号|     地址定义     |       含义         |
|-----|----------------|---------------|
| 1    |   BSSID                        | 在基础型BSS中， 它为AP① 的地址。 而在IBSS中则是一个本地唯一MAC地址。 |
| 2    |   目标地址    DA           | MAC帧的最终目的地址 ， 可以是单播或组播地址。 |
| 3    |   源地址        SA           | MAC帧的最初源地址，  一般情况下都是单播地址。 |
| 4    | 发送STA地址：TA        | 一次经WM（无限媒介）传输的发送端地址，类似于路由中某一跳的起点 |
| 5    |   接收STA地址：RA      | 一次经WM（无限媒介）传输的接收端地址，类似于路由中某一跳的终点 |</p>
<p>下面我们看下MAC首部4个地址域 与 规范中5中地址的对应关系：</p>
<p>| To DS |  From Ds| 网络类型 | Adress 1（接收端） | Address 2 （发送端）| Address 3 | Address 4 |
|--------|-----------|-----------|----------------------|------------------------|------------|------------|
|   0       |       0       |  IBSS       |        DA = RA           | TA = SA                      |    BSSID    |  未使用    |
|   0       |       1       |  From AP|        DA = RA           |  TA = BSSID               |      SA        |   未使用    |
|   1       |       0       | To AP     |        RA = BSSID       | TA = SA                     |     DA        | 未使用    |
|   1       |        1      |AP to AP |        RA                      |      TA                        |      DA        |    SA       |</p>
<h3 id="toc_ab4038aa364ae57df3c55c591321a54f">SeqCtrl</h3>
<p>此字段用来丢弃重复帧和重复分片。包含两个子字段：Fragment Number 和Sequence Number。
+ <strong>Fragment Number：</strong>用于分片帧
+ <strong>Sequence Number：</strong>用于检验重复帧。如果设备收到的MAC帧的Sequence Number与之前收到的帧重复则丢弃。</p>
<h3 id="toc_65aa09a87ca8847dcf539fc6bd110986">Qos Ctrl(可选)</h3>
<p>此字段只出现在数据帧中，用以实现802.11e无限Qos功能。</p>
<h3 id="toc_87168141a1263868a88f733ac63ef8d3">HT Control(可选)</h3>
<p>用于控制802.11n的“High-throughput”</p>
<h3 id="toc_871ebd58afd2a51c111ed3278d2dba99">Frame Body</h3>
<p>代表数据域。 这部分内容的长度可变， 其具体存储的内容由帧类型（ type） 和子类型（subtype） 决定。</p>
<h3 id="toc_f1d19b260aa610683ea57c183a12bad5">FCS</h3>
<p>Frame Check Sequence， 帧校验序列， 用于保障帧数据完整性。</p>
<h2 id="toc_bf47c330772f707d20830f28fdfec966">帧类型</h2>
<p>前面在介绍Type和SubType字段的时候，我们已经知道这两个字段将无线MAC帧分为不同的类型，现在我们来进一步介绍下不同的无线MAC帧</p>
<h3 id="toc_4f39fd2e06d1f46d6355ae321935ee04">数据帧</h3>
<p>负责传送数据报文</p>
<p>|帧类型      |   描述　      |
|-----------|-------------|
|   Data       |   货真价实的数据帧， 802.11数据报文的承载体　|
|    NULL     |　只有802.11 MAC首部 和FCS字段 在802.11中，Station可以通过NULL通知基站自己省电模式的改变|</p>
<h3 id="toc_f7393338e70ad628dac3a51ae1e002be">控制帧</h3>
<p>控制帧主要用来协助数据帧的传输，负责无线区域的清空，信道的获取等，还用于收取数据时的确认。下面是几种常用的控制帧。
| 帧类型      |　描述　     |
 |-----------|-------------|
| RTS/CTS   | 负责无限信道的清空，取得媒介控制权 |
| PS-Poll     | 当Station从省电模式醒来，可以发送PS-Poll帧，从基站获取缓存帧 |
| ACK          |  无线通信接收端通过回应ACK帧，向发送端确认接收到了报文  |
| Block Ack Request/ Block Ack| 802.11n中，为了提升MAC层的效率，使用BlockACK机制对收到的一批数据帧进行一次性确认， Block Ack Request/ Block Ack用来简历BlockACK通道 |</p>
<h3 id="toc_0f9dbd8a326b437f22304fe8985afec2">管理帧</h3>
<p>负责对无线网络的管理，包括网络信息通告、加入或退出无线网络，频谱管理等。</p>
<p>| 帧类型      |　描述　     |
 |-----------|-------------|
 |   Beacon |  信标帧，周期性宣告某个802.11网络的存在，以及支持各类无线参数，比如网络名称（SSID），支持的速率，认证类型等。也包含基站为进入省电模式的Station缓存帧的信息。　｜
| Association Request/Response|  关联请求/应答， 当Station 师徒加入某个802.11网络，Station和基站关联时会使用。|
|  Disassociation| 去关联帧，Station和基站都可以发送Disassociation解除和对方的关联 |
| Authentication/Deauthentication| 认证/去认证帧，Station 和 基站关联是使用，用于无限身份认证 |
| Probe Request/Response |  探测帧， Station后基站 均可以发送该帧探测周围有那些802.11网络。接收到的基站需回应Probe Response， Probe Respoonse 帧中包含了Beacon帧所有的参数 |
| Action| 802.11h标准中添加的帧。用来要求802.11设备才去各类行动进行频谱管理|</p>
            </div>
            <!-- /.entry-content -->
<br/>
<br/>
<br/>
    <nav class="older">
<h4>
        <ul>
                <li>
                    上一篇:<a href="http://windeal.github.io/others/nothing.html">
                        个人简介
                    </a>
                </li>
        </ul>
</h4>
    </nav>
    <hr/>
    <section class="comments" id="comments">
        <h2>Comments</h2>

        <div class="ds-thread" data-thread-key="<%= page.path %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var duoshuo_shortname = 'windeal4github'; // required: replace example with your forum shortname

                    var duoshuo_identifier = 'WirelessMacFrame';
                var duoshuo_url = 'http://windeal.github.io/tcpipxie-yi/WirelessMacFrame.html';

            var duoshuo_config = function () {
                this.language = "zh";
            };

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://duoshuo.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        <a href="http://duoshuo.com" class="dsq-brlink">comments powered by <span class="logo-duoshuo">Duoshuo</span></a>

    </section>
        </article>
    </section>

        </div>
        <div class="col-sm-3" id="sidebar">
            <aside>

<section class="well well-sm">
    <ul class="list-group list-group-flush">





    <li class="list-group-item"><h4><i class="fa fa-external-link-square fa-lg"></i><span class="icon-label">Links</span></h4>
      <ul class="list-group" id="links">
        <li class="list-group-item">
            <a href="http://blog.csdn.net/windeal3203" target="_blank">
                CSDN博客
            </a>
        </li>
      </ul>
    </li>
    </ul>
</section>


<section class="well" id="tag_cloud">
    <li class="list-group-item"><a href="http://windeal.github.io/"><h4><i class="fa fa-tags fa-lg"></i><span class="icon-label">Tags</span></h4></a>
    <ul class="tagcloud">
            <li class="tag-1"><a href="http://windeal.github.io/tag/github.html">github</a></li>
            <li class="tag-4"><a href="http://windeal.github.io/tag/mac.html">MAC</a></li>
            <li class="tag-4"><a href="http://windeal.github.io/tag/wireless.html">wireless</a></li>
            <li class="tag-1"><a href="http://windeal.github.io/tag/pelican.html">pelican</a></li>
    </ul>
    </li>
</section>



<div id="niu2-sidebar-toc" class="niu2-sidebar" data-status="closed">
    <div class="niu2-sidebar-label">
        <i id="niu2-sidebar-toc-ctrl" class="icon-open-tocs"></i>TOC
    </div>
    <ul id="niu2-sidebar-toc-list">
        <li><a href="#content-heading">无线MAC帧详解</a></li>
        <li><a href='#toc_f9c53f31a677a0989b5517ad12fded60'>802.11 MAC帧（无线MAC帧）</a><ul><li><a href='#toc_2f3366f64345d5c0266c67089d5401ac'>Frame Ctrl</a></li><li><a href='#toc_874aa9a75d9b6069541e2015965bc276'>Duration/ID</a></li><li><a href='#toc_2484ff410437e1cc53cfb866e9263f99'>Address (Address1~Address4)</a></li><li><a href='#toc_ab4038aa364ae57df3c55c591321a54f'>SeqCtrl</a></li><li><a href='#toc_65aa09a87ca8847dcf539fc6bd110986'>Qos Ctrl(可选)</a></li><li><a href='#toc_87168141a1263868a88f733ac63ef8d3'>HT Control(可选)</a></li><li><a href='#toc_871ebd58afd2a51c111ed3278d2dba99'>Frame Body</a></li><li><a href='#toc_f1d19b260aa610683ea57c183a12bad5'>FCS</a></li><li><a href='#toc_bf47c330772f707d20830f28fdfec966'>帧类型</a><ul><li><a href='#toc_4f39fd2e06d1f46d6355ae321935ee04'>数据帧</a></li><li><a href='#toc_f7393338e70ad628dac3a51ae1e002be'>控制帧</a></li><li><a href='#toc_0f9dbd8a326b437f22304fe8985afec2'>管理帧</a></li></ul></li></ul></li>
    </ul>
</div>
            </aside>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 Windeal.Li
            &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="http://windeal.github.io/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://windeal.github.io/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="http://windeal.github.io/theme/js/respond.min.js"></script>


<!-- 多说评论框 start -- >
    <div class="ds-thread"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
var duoshuoQuery = {short_name:"windeal4github"};
(function() {
        var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                        (document.getElementsByTagName('head')[0] 
                                                 || document.getElementsByTagName('body')[0]).appendChild(ds);
                                            
 })();
    </script>
    <!-- 多说公共JS代码 end -->
 
<noscript>
    Please enable JavaScript to view the comments powered by <a href="http://duoshuo.com/">DuoShuo</a>.
</noscript>    <!-- Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-69553724-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- End Google Analytics Code -->
    <!-- Google Analytics Universal -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69553724-1', 'UA-69553724-1');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Universal Code -->

</body>
</html>