<!DOCTYPE html>
<html lang="zh" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml">
<head>
    <title>无线MAC帧详解 - Windeal_Blog</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



<link rel="canonical" href="http://windeal.github.io/tcpip/WirelessMacFrame.html">

        <meta name="author" content="Windeal.Li" />
        <meta name="keywords" content="wireless,MAC" />
        <meta name="description" content="Mac帧由三个基本域组成 Mac Header Frame Body FCS Frame Ctrl Frame 含2Byte（16位），可以进一步分为以下子字段：" />

        <meta property="og:site_name" content="Windeal_Blog" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="无线MAC帧详解"/>
        <meta property="og:url" content="http://windeal.github.io/tcpip/WirelessMacFrame.html"/>
        <meta property="og:description" content="Mac帧由三个基本域组成 Mac Header Frame Body FCS Frame Ctrl Frame 含2Byte（16位），可以进一步分为以下子字段："/>
        <meta property="article:published_time" content="2015-11-05" />
            <meta property="article:section" content="tcpip" />
            <meta property="article:tag" content="wireless" />
            <meta property="article:tag" content="MAC" />
            <meta property="article:author" content="Windeal.Li" />


    <!-- Bootstrap -->
        <link rel="stylesheet" href="http://windeal.github.io/theme/css/bootstrap.min.css" type="text/css"/>
    <link href="http://windeal.github.io/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="http://windeal.github.io/theme/css/pygments/native.css" rel="stylesheet">
    <link rel="stylesheet" href="http://windeal.github.io/theme/css/style.css" type="text/css"/>
        <link href="http://windeal.github.io/static/css/mystyle.css" rel="stylesheet">





</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://windeal.github.io/" class="navbar-brand">
Windeal_Blog            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">  
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Blog分类<b class="caret"></b>  
                    </a>
                    <ul class="dropdown-menu">
                            <li ><a href="http://windeal.github.io/others/index.html">其他(1)</a>
                            </li>
                            <li ><a href="http://windeal.github.io/pelican/index.html">前端(2)</a>
                            </li>
                            <li class="active"><a href="http://windeal.github.io/tcpip/index.html">Tcp/ip详解(1)</a>
                            </li>
                    </ul>
                </li>
                    <li><a href="/About.html">About Me</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://windeal.github.io/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-sm-9">
    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="http://windeal.github.io/tcpip/WirelessMacFrame.html"
                       rel="bookmark"
                       title="Permalink to 无线MAC帧详解">
                        无线MAC帧详解
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                <div class="panel">
                    <div class="panel-body">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2015-11-05T00:00:00+08:00"> 2015-11-05</time>
    </span>


            <span class="label label-default">By</span>
            <a href="http://windeal.github.io/author/windealli.html"><i class="fa fa-user"></i> Windeal.Li</a>

        <span class="label label-default">Category</span>
        <a href="http://windeal.github.io/tcpip/index.html">tcpip</a>


<span class="label label-default">Tags</span>
	<a href="http://windeal.github.io/tag/wireless.html">wireless</a>
        /
	<a href="http://windeal.github.io/tag/mac.html">MAC</a>
    
</footer><!-- /.post-info -->                    </div>
                </div>
                <div class="toc">
<ul>
<li><a href="#80211-macmac">802.11 MAC帧（无线MAC帧）</a><ul>
<li><a href="#frame-ctrl">Frame Ctrl</a></li>
<li><a href="#durationid">Duration/ID</a></li>
<li><a href="#address-address1address4">Address (Address1~Address4)</a></li>
<li><a href="#seqctrl">SeqCtrl</a></li>
<li><a href="#qos-ctrl">Qos Ctrl(可选)</a></li>
<li><a href="#ht-control">HT Control(可选)</a></li>
<li><a href="#frame-body">Frame Body</a></li>
<li><a href="#fcs">FCS</a></li>
<li><a href="#_1">帧类型</a><ul>
<li><a href="#_2">数据帧</a></li>
<li><a href="#_3">控制帧</a></li>
<li><a href="#_4">管理帧</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<h1 id="80211-macmac">802.11 MAC帧（无线MAC帧）</h1>
<p><img alt="Paste_Image.png" src="/static/images/TCPIP/wirelessMacFrame01.png"/></p>
<p>Mac帧由三个基本域组成：</p>
<ul>
<li><strong>Mac Header：</strong>包括帧控制（ Frame Control） 、 时长（ Duration） 、 地址（ Address） 等</li>
<li><strong>Frame Body：</strong>代表数据域。 这部分内容的长度可变， 其具体存储的内容由帧类型（ type） 和子类型（ sub type） 决定。</li>
<li><strong>FCS：</strong>    （ Frame Check Sequence， 帧校验序列） 用于保障帧数据完整性。
　　我们主要关注Mac Header部门，我们来逐个分析下Mac Header中的字段</li>
</ul>
<h3 id="frame-ctrl">Frame Ctrl</h3>
<p>Frame 含2Byte（16位），可以进一步分为以下子字段：</p>
<p><strong>(1) Protocol Version：</strong>
　　代表802.11 MAC帧的版本号。 目前的值是0。</p>
<p><strong>(2) Type和Subtype: </strong>
　　Type字段有00，01，10，11四种取值，将802.11中MAC帧分别划分为control、 data和management三种类型（Type=11保留）。
　　Type与Subtype结合可以802.11MAC帧细分为以下类型（不全）。（本文后面对各个子类型进一步介绍）</p>
<table>
<thead>
<tr>
<th align="center">Type（b3b2)</th>
<th align="center">类型描述</th>
<th align="center">Subtype(b7-b4)</th>
<th align="center">子类型描述</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center">00</td>
<td align="center">Management</td>
<td align="center">0000/1</td>
<td align="center">Association Request/Response</td>
</tr>
<tr>
<td align="center">00</td>
<td align="center">Management</td>
<td align="center">0100/1</td>
<td align="center">Probe  Request/Response</td>
</tr>
<tr>
<td align="center">00</td>
<td align="center">Management</td>
<td align="center">1000</td>
<td align="center">Beacon帧</td>
</tr>
<tr>
<td align="center">00</td>
<td align="center">Management</td>
<td align="center">1101</td>
<td align="center">Action帧</td>
</tr>
<tr>
<td align="center">01</td>
<td align="center">Control</td>
<td align="center">1010</td>
<td align="center">PS-POLL帧，（省电轮询）</td>
</tr>
<tr>
<td align="center">01</td>
<td align="center">Control</td>
<td align="center">1011</td>
<td align="center">RTS</td>
</tr>
<tr>
<td align="center">01</td>
<td align="center">Control</td>
<td align="center">1100</td>
<td align="center">CTS</td>
</tr>
<tr>
<td align="center">01</td>
<td align="center">Control</td>
<td align="center">1101</td>
<td align="center">ACK</td>
</tr>
<tr>
<td align="center">01</td>
<td align="center">Data</td>
<td align="center">0000</td>
<td align="center">Data</td>
</tr>
<tr>
<td align="center">11</td>
<td align="center">保留</td>
<td align="center">0000-1111</td>
<td align="center">保留</td>
</tr>
</tbody>
</table>
<p><strong>(4)To DS 和 From DS: </strong>
　　只用在数据类型的帧中。DS即Distribution System。 From DS和To Ds分别表明数据帧是否来自或去往DS。（这里的来自和去往分别对应最初的源地址，和最终的目的地址。如STA经DS发往另一个STA，则该帧既不来自DS，也不去往S，而是STA和STA之间的通信。）</p>
<table>
<thead>
<tr>
<th>To DS</th>
<th>From DS</th>
<th>含义</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>0</td>
<td>即不来自DS也不去往DS, 即STA与STA之间的通信。也可能是管理帧或控制帧。</td>
</tr>
<tr>
<td>0</td>
<td>1</td>
<td>表明该帧有DS 发往非DS， 一般是AP发给STA</td>
</tr>
<tr>
<td>1</td>
<td>0</td>
<td>表明该帧由非DS发往DS，一般是STA发给AP</td>
</tr>
<tr>
<td>1</td>
<td>1</td>
<td>该帧来自DS，又去往DS，其实就是只带AP与AP之间的数据帧</td>
</tr>
</tbody>
</table>
<p><strong>(6) More Fragments: </strong>
　　表明数据是否分片。 只支持data和management帧类型。</p>
<p><strong>(7) Retry: </strong>
　　如果该值为1， 表明是重传包。</p>
<p><strong>(8) Power Management: </strong>
　　表明发送该帧的STA处于活跃模式还是处于省电模式。</p>
<p><strong>(9) More Data: </strong>
　　和省电模式有关。 AP会为那些处于省电模式下的STA缓冲一些数据帧， 而STA会定时查询是否有数据要接收。 该参数表示AP中还有缓冲的数据帧。 如果该值为0， 表明STA已经接收完数据帧了（ 下节将介绍省电模式相关的内容） 。</p>
<p><strong>(10): Protected Frame: </strong>
　　表明数据是否加密。</p>
<p><strong>(11): Order: </strong>
　　 指明接收端必须按顺序处理该帧。</p>
<h3 id="durationid">Duration/ID</h3>
<p>Duration/ID域占2字节共16位， 其具体含义根据Type和Subtype的不同而变化， 不过大体就两种， 分别代表ID和Duration。</p>
<h3 id="address-address1address4">Address (Address1~Address4)</h3>
<p>首先，我们要知道，这里的Address以Mac地址的形式表示。网络传输中，Mac地址需要考虑字节序。Mac地址，字节序为Big-endian， 即最高字节在前。比特序为Little-endian， 即最低位在前。
　　802.11 MAC帧头部分共包含四个Address域（一个可选）， 但规范中却有五种地址定义， 分别如下：</p>
<table>
<thead>
<tr>
<th>序号</th>
<th>地址定义</th>
<th>含义</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>BSSID</td>
<td>在基础型BSS中， 它为AP① 的地址。 而在IBSS中则是一个本地唯一MAC地址。</td>
</tr>
<tr>
<td>2</td>
<td>目标地址    DA</td>
<td>MAC帧的最终目的地址 ， 可以是单播或组播地址。</td>
</tr>
<tr>
<td>3</td>
<td>源地址        SA</td>
<td>MAC帧的最初源地址，  一般情况下都是单播地址。</td>
</tr>
<tr>
<td>4</td>
<td>发送STA地址：TA</td>
<td>一次经WM（无限媒介）传输的发送端地址，类似于路由中某一跳的起点</td>
</tr>
<tr>
<td>5</td>
<td>接收STA地址：RA</td>
<td>一次经WM（无限媒介）传输的接收端地址，类似于路由中某一跳的终点</td>
</tr>
</tbody>
</table>
<p>下面我们看下MAC首部4个地址域 与 规范中5中地址的对应关系：</p>
<table>
<thead>
<tr>
<th>To DS</th>
<th>From Ds</th>
<th>网络类型</th>
<th>Adress 1（接收端）</th>
<th>Address 2 （发送端）</th>
<th>Address 3</th>
<th>Address 4</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>0</td>
<td>IBSS</td>
<td>DA = RA</td>
<td>TA = SA</td>
<td>BSSID</td>
<td>未使用</td>
</tr>
<tr>
<td>0</td>
<td>1</td>
<td>From AP</td>
<td>DA = RA</td>
<td>TA = BSSID</td>
<td>SA</td>
<td>未使用</td>
</tr>
<tr>
<td>1</td>
<td>0</td>
<td>To AP</td>
<td>RA = BSSID</td>
<td>TA = SA</td>
<td>DA</td>
<td>未使用</td>
</tr>
<tr>
<td>1</td>
<td>1</td>
<td>AP to AP</td>
<td>RA</td>
<td>TA</td>
<td>DA</td>
<td>SA</td>
</tr>
</tbody>
</table>
<h3 id="seqctrl">SeqCtrl</h3>
<p>此字段用来丢弃重复帧和重复分片。包含两个子字段：Fragment Number 和Sequence Number。</p>
<ul>
<li><strong>Fragment Number：</strong>用于分片帧</li>
<li><strong>Sequence Number：</strong>用于检验重复帧。如果设备收到的MAC帧的Sequence Number与之前收到的帧重复则丢弃。</li>
</ul>
<h3 id="qos-ctrl">Qos Ctrl(可选)</h3>
<p>此字段只出现在数据帧中，用以实现802.11e无限Qos功能。</p>
<h3 id="ht-control">HT Control(可选)</h3>
<p>用于控制802.11n的“High-throughput”</p>
<h3 id="frame-body">Frame Body</h3>
<p>代表数据域。 这部分内容的长度可变， 其具体存储的内容由帧类型（ type） 和子类型（subtype） 决定。</p>
<h3 id="fcs">FCS</h3>
<p>Frame Check Sequence， 帧校验序列， 用于保障帧数据完整性。</p>
<h2 id="">帧类型</h2>
<p>前面在介绍Type和SubType字段的时候，我们已经知道这两个字段将无线MAC帧分为不同的类型，现在我们来进一步介绍下不同的无线MAC帧</p>
<h3 id="_1">数据帧</h3>
<p>负责传送数据报文</p>
<table>
<thead>
<tr>
<th>帧类型</th>
<th>描述</th>
</tr>
</thead>
<tbody>
<tr>
<td>Data</td>
<td>货真价实的数据帧， 802.11数据报文的承载体</td>
</tr>
<tr>
<td>NULL</td>
<td>只有802.11 MAC首部 和FCS字段 在802.11中，Station可以通过NULL通知基站自己省电模式的改变</td>
</tr>
</tbody>
</table>
<h3 id="_1_2">控制帧</h3>
<p>控制帧主要用来协助数据帧的传输，负责无线区域的清空，信道的获取等，还用于收取数据时的确认。下面是几种常用的控制帧。</p>
<table>
<thead>
<tr>
<th>帧类型</th>
<th>描述</th>
</tr>
</thead>
<tbody>
<tr>
<td>RTS/CTS</td>
<td>负责无限信道的清空，取得媒介控制权</td>
</tr>
<tr>
<td>PS-Poll</td>
<td>当Station从省电模式醒来，可以发送PS-Poll帧，从基站获取缓存帧</td>
</tr>
<tr>
<td>ACK</td>
<td>无线通信接收端通过回应ACK帧，向发送端确认接收到了报文</td>
</tr>
<tr>
<td>Block Ack Request/ Block Ack</td>
<td>802.11n中，为了提升MAC层的效率，使用BlockACK机制对收到的一批数据帧进行一次性确认， Block Ack Request/ Block Ack用来简历BlockACK通道</td>
</tr>
</tbody>
</table>
<h3 id="_1_2_3">管理帧</h3>
<p>负责对无线网络的管理，包括网络信息通告、加入或退出无线网络，频谱管理等。</p>
<table>
<thead>
<tr>
<th>帧类型</th>
<th>描述</th>
</tr>
</thead>
<tbody>
<tr>
<td>Beacon</td>
<td>信标帧，周期性宣告某个802.11网络的存在，以及支持各类无线参数，比如网络名称（SSID），支持的速率，认证类型等。也包含基站为进入省电模式的Station缓存帧的信息。　｜</td>
</tr>
<tr>
<td>Association Request/Response</td>
<td>关联请求/应答， 当Station 师徒加入某个802.11网络，Station和基站关联时会使用。</td>
</tr>
<tr>
<td>Disassociation</td>
<td>去关联帧，Station和基站都可以发送Disassociation解除和对方的关联</td>
</tr>
<tr>
<td>Authentication/Deauthentication</td>
<td>认证/去认证帧，Station 和 基站关联是使用，用于无限身份认证</td>
</tr>
<tr>
<td>Probe Request/Response</td>
<td>探测帧， Station后基站 均可以发送该帧探测周围有那些802.11网络。接收到的基站需回应Probe Response， Probe Respoonse 帧中包含了Beacon帧所有的参数</td>
</tr>
<tr>
<td>Action</td>
<td>802.11h标准中添加的帧。用来要求802.11设备才去各类行动进行频谱管理</td>
</tr>
</tbody>
</table>
            </div>
            <!-- /.entry-content -->
<br/>
<br/>
<br/>
    <nav class="older">
<h4>
        <ul>
                <li>
                    上一篇:<a href="http://windeal.github.io/others/nothing.html">
                        个人简介
                    </a>
                </li>
        </ul>
</h4>
    </nav>
    <hr/>
    <section class="comments" id="comments">
        <h2>Comments</h2>

        <div class="ds-thread" data-thread-key="<%= page.path %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var duoshuo_shortname = 'windeal4github'; // required: replace example with your forum shortname

                    var duoshuo_identifier = 'WirelessMacFrame';
                var duoshuo_url = 'http://windeal.github.io/tcpip/WirelessMacFrame.html';

            var duoshuo_config = function () {
                this.language = "zh";
            };

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://duoshuo.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        <a href="http://duoshuo.com" class="dsq-brlink">comments powered by <span class="logo-duoshuo">Duoshuo</span></a>

    </section>
        </article>
    </section>

        </div>
        <div class="col-sm-3" id="sidebar">
            <aside>

<section class="well well-sm">
    <ul class="list-group list-group-flush">





    <li class="list-group-item"><h4><i class="fa fa-external-link-square fa-lg"></i><span class="icon-label">Links</span></h4>
      <ul class="list-group" id="links">
        <li class="list-group-item">
            <a href="http://blog.csdn.net/windeal3203" target="_blank">
                CSDN博客
            </a>
        </li>
      </ul>
    </li>
    </ul>
</section>

<section class="well" id="tag_cloud">
    <li class="list-group-item"><a href="http://windeal.github.io/"><h4><i class="fa fa-tags fa-lg"></i><span class="icon-label">Tags</span></h4></a>
    <ul class="tagcloud">
            <a class="tag-1" href="http://windeal.github.io/tag/pelican.html">pelican</a>
            <a class="tag-4" href="http://windeal.github.io/tag/wireless.html">wireless</a>
            <a class="tag-4" href="http://windeal.github.io/tag/mac.html">MAC</a>
            <a class="tag-1" href="http://windeal.github.io/tag/github.html">github</a>
    </ul>
    </li>
</section>
    
<section class="well" id="tag_cloud">
</section>

            </aside>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 Windeal.Li
            &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="http://windeal.github.io/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://windeal.github.io/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="http://windeal.github.io/theme/js/respond.min.js"></script>


<!-- 多说评论框 start -- >
    <div class="ds-thread"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
var duoshuoQuery = {short_name:"windeal4github"};
(function() {
        var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                        (document.getElementsByTagName('head')[0] 
                                                 || document.getElementsByTagName('body')[0]).appendChild(ds);
                                            
 })();
    </script>
    <!-- 多说公共JS代码 end -->
 
<noscript>
    Please enable JavaScript to view the comments powered by <a href="http://duoshuo.com/">DuoShuo</a>.
</noscript>    <!-- Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-69553724-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- End Google Analytics Code -->
    <!-- Google Analytics Universal -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69553724-1', 'UA-69553724-1');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Universal Code -->

</body>
</html>