<!DOCTYPE html>
<html lang="zh" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml">
<head>
    <title>ioctl 获取网络接口信息 - Windeal_Blog</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



<link rel="canonical" href="http://windeal.github.io/unixcoding/ioctlGetifconf.html">

        <meta name="author" content="Windeal.Li" />
        <meta name="keywords" content="ioctl,Unix,Linux" />
        <meta name="description" content="网络程序（尤其是服务器程序）经常在程序启动后使用ioctl后去所在主机的全部网络接口想你系。包括：接口地址、是否支持广播、是否支持多播等。本文主要介绍ioctl的一些基本知识，以及如何使用ioctl获取网络接口信&gt; ioctl是用来操纵特殊文件的底层设备参数。我们看下ioctl的用法:" />

        <meta property="og:site_name" content="Windeal_Blog" />
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="ioctl 获取网络接口信息"/>
        <meta property="og:url" content="http://windeal.github.io/unixcoding/ioctlGetifconf.html"/>
        <meta property="og:description" content="网络程序（尤其是服务器程序）经常在程序启动后使用ioctl后去所在主机的全部网络接口想你系。包括：接口地址、是否支持广播、是否支持多播等。本文主要介绍ioctl的一些基本知识，以及如何使用ioctl获取网络接口信&gt; ioctl是用来操纵特殊文件的底层设备参数。我们看下ioctl的用法:"/>
        <meta property="article:published_time" content="2015-11-25" />
            <meta property="article:section" content="unixcoding" />
            <meta property="article:tag" content="ioctl" />
            <meta property="article:tag" content="Unix" />
            <meta property="article:tag" content="Linux" />
            <meta property="article:author" content="Windeal.Li" />


    <!-- Bootstrap -->
        <link rel="stylesheet" href="http://windeal.github.io/theme/css/bootstrap.min.css" type="text/css"/>
    <link href="http://windeal.github.io/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="http://windeal.github.io/theme/css/pygments/native.css" rel="stylesheet">
    <link rel="stylesheet" href="http://windeal.github.io/theme/css/style.css" type="text/css"/>
        <link href="http://windeal.github.io/static/css/mystyle.css" rel="stylesheet">





</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://windeal.github.io/" class="navbar-brand">
Windeal_Blog            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">  
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Blog分类<b class="caret"></b>  
                    </a>
                    <ul class="dropdown-menu">
<li >
                            <a href="http://windeal.github.io/web/index.html">前端(2)</a>
                            </li>
<li >
                            <a href="http://windeal.github.io/bugs/index.html">Bug收录(1)</a>
                            </li>
<li >
                            <a href="http://windeal.github.io/others/index.html">其他(1)</a>
                            </li>
<li >
                            <a href="http://windeal.github.io/programming/index.html">程序设计(1)</a>
                            </li>
<li >
                            <a href="http://windeal.github.io/tcpip/index.html">Tcp/ip详解(1)</a>
                            </li>
<li class="active">
                            <a href="http://windeal.github.io/unixcoding/index.html">Unix环境编程(1)</a>
                            </li>
                    </ul>
                </li>
                    <li><a href="/About.html">About Me</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://windeal.github.io/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-sm-9">
    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="http://windeal.github.io/unixcoding/ioctlGetifconf.html"
                       rel="bookmark"
                       title="Permalink to ioctl 获取网络接口信息">
                        ioctl 获取网络接口信息
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                <div class="panel">
                    <div class="panel-body">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2015-11-25T00:00:00+08:00"> 2015-11-25</time>
    </span>


            <span class="label label-default">By</span>
            <a href="http://windeal.github.io/author/windealli.html"><i class="fa fa-user"></i> Windeal.Li</a>

<span class="label label-default">Category</span>
        <a href="http://windeal.github.io/unixcoding/index.html">Unix环境编程</a>


<span class="label label-default">Tags</span>
	<a href="http://windeal.github.io/tag/ioctl.html">ioctl</a>
        /
	<a href="http://windeal.github.io/tag/unix.html">Unix</a>
        /
	<a href="http://windeal.github.io/tag/linux.html">Linux</a>
    
</footer><!-- /.post-info -->                    </div>
                </div>
                <p>网络程序（尤其是服务器程序）经常在程序启动后使用ioctl后去所在主机的全部网络接口想你系。包括：接口地址、是否支持广播、是否支持多播等。本文主要介绍ioctl的一些基本知识，以及如何使用ioctl获取网络接口信息。
　　ioctl是用来操纵特殊文件的底层设备参数。我们看下ioctl的用法:</p>
<div class="codehilite" style="background: #272822"><pre style="line-height: 125%"><span style="color: #75715e">#include &lt;sys/ioctl.h&gt;</span>
<span style="color: #66d9ef">int</span> <span style="color: #a6e22e">ioctl</span><span style="color: #f8f8f2">(</span><span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">fd,</span> <span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">request,</span> <span style="color: #f8f8f2">...</span><span style="color: #75715e">/* void *arg */</span><span style="color: #f8f8f2">);</span>
</pre></div>
<ul>
<li><strong>fd：</strong>一个打开的文件描述符。</li>
<li><strong>request：</strong>与设备相关的请求码</li>
<li><strong>arg: </strong> 总是一个指针，指针类型依赖于request参数。该参数其实是ioctl调用需要的数据，或这返回的数据。</li>
<li><strong>返回值:</strong> 一般情况下，返回0标识调用成功，返回-1表失败（并设置errno）。 也有一些操作在成功时返回非负数（该非负数可能携带程序需要的特殊信息）</li>
</ul>
<p>ioctl的request可以分为<strong>套接字，文件，网络接口，ARP，路由，流</strong>六大类，本文主要介绍<strong>网络接口</strong>相关的ioctl操作。
　　我们先来看下ioctl调用中与网络接口相关的request：</p>
<table>
<thead>
<tr>
<th>requets</th>
<th>说明</th>
<th>数据类型</th>
</tr>
</thead>
<tbody>
<tr>
<td>SIOCGIFCONF</td>
<td>获取所有网络接口列表</td>
<td>struct ifconf</td>
</tr>
<tr>
<td>SIOCSIFADDR</td>
<td>设置网络接口地址</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCGIFADDR</td>
<td>获取网络接口地址</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCSIFFLAG</td>
<td>设置接口标志</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCGIFFLAG</td>
<td>获取接口标志</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCSIFDSTADDR</td>
<td>设置点对点地址</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCGIFDSTADDR</td>
<td>获取点对点地址</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCSIFBRDADDR</td>
<td>设置广播地址</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCGIFBRDADDR</td>
<td>获取广播地址</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCSIFNETMASK</td>
<td>设置子网掩码</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCGIFNETMASK</td>
<td>获取子网掩码</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCSIFMETRIC</td>
<td>设置接口的测度</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCGIFMETRIC</td>
<td>获取接口的测度</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCGIFMTU</td>
<td>获取接口 MTU</td>
<td>struct ifreq</td>
</tr>
<tr>
<td>SIOCxxx</td>
<td>其他request，与实现有关</td>
<td>struct ifreq</td>
</tr>
</tbody>
</table>
<p>ioctl操作网络接口无非就是两种情况，要么从内核获取网络接口信息，要么想内核设置网络接口参数。</p>
<h3 id="ioctl">ioctl 获取/设置特定网络接口参数</h3>
<p>在前面的request表格中，我们看到，SIOCGIFCONF的数据类型与其他request不同，它是用来获取的所有网络接口列表，具体后面会介绍。现在我们来看下除了SIOCGIFCONF外，其他Request的使用，也就是具体某个网络接口参数的获取与设置。
　　首先，了解下数据类型，即结构体<code>struct ifreq</code></p>
<div class="codehilite" style="background: #272822"><pre style="line-height: 125%"><span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifreq</span>
<span style="color: #f8f8f2">{</span>
<span style="color: #75715e"># define IFHWADDRLEN    6</span>
<span style="color: #75715e"># define IFNAMSIZ   IF_NAMESIZE</span>
    <span style="color: #66d9ef">union</span>
    <span style="color: #f8f8f2">{</span>
<span style="color: #66d9ef">char</span> <span style="color: #f8f8f2">ifrn_name[IFNAMSIZ];</span>   <span style="color: #75715e">/* Interface name, e.g. "en0".  */</span>

    <span style="color: #f8f8f2">}</span> <span style="color: #f8f8f2">ifr_ifrn;</span>

    <span style="color: #66d9ef">union</span>
    <span style="color: #f8f8f2">{</span>
    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">sockaddr</span> <span style="color: #f8f8f2">ifru_addr;</span>
    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">sockaddr</span> <span style="color: #f8f8f2">ifru_dstaddr;</span>
    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">sockaddr</span> <span style="color: #f8f8f2">ifru_broadaddr;</span>
    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">sockaddr</span> <span style="color: #f8f8f2">ifru_netmask;</span>
    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">sockaddr</span> <span style="color: #f8f8f2">ifru_hwaddr;</span>
    <span style="color: #66d9ef">short</span> <span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">ifru_flags;</span>
    <span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">ifru_ivalue;</span>
    <span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">ifru_mtu;</span>
    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifmap</span> <span style="color: #f8f8f2">ifru_map;</span>
    <span style="color: #66d9ef">char</span> <span style="color: #f8f8f2">ifru_slave[IFNAMSIZ];</span>  <span style="color: #75715e">/* Just fits the size */</span>
    <span style="color: #66d9ef">char</span> <span style="color: #f8f8f2">ifru_newname[IFNAMSIZ];</span>
    <span style="color: #66d9ef">__caddr_t</span> <span style="color: #f8f8f2">ifru_data;</span>

    <span style="color: #f8f8f2">}</span> <span style="color: #f8f8f2">ifr_ifru;</span>

<span style="color: #f8f8f2">};</span>
</pre></div>
<p>不难看出，其实<code>struct ifreq</code>主要包含两个union结构，第一个字段标识网络接口名字，第二个字段则是该网络接口对应具体某个网络参数。简单的说，<strong>一个struct ifreq实例，表示某一网络接口的某个特定网络参数</strong>。现在，我们以网络接口mtu为例，说明我们是如何获得某个网络接口参数的。
　　当我要获取一个网络接口（假设为eth0）的mtu，我们需要一个<code>struct ifreq</code>结构体对象，它的第一个字段的ifrn_name就是eth0了，而第二个union中生效的是int ifr_mtu这一字段。接下来我们看下实际程序中如何获取网络接口mtu。</p>
<div class="codehilite" style="background: #272822"><pre style="line-height: 125%"><span style="color: #75715e">#include &lt;stdio.h&gt;                                                                                                                                                                                           </span>
<span style="color: #75715e">#include &lt;stdlib.h&gt;</span>
<span style="color: #75715e">#include &lt;string.h&gt;</span>
<span style="color: #75715e">#include &lt;net/if.h&gt;</span>
<span style="color: #75715e">#include &lt;sys/ioctl.h&gt;</span>
<span style="color: #75715e">#include &lt;sys/socket.h&gt;</span>

<span style="color: #66d9ef">int</span> <span style="color: #a6e22e">main</span><span style="color: #f8f8f2">(</span><span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">argc,</span> <span style="color: #66d9ef">char</span><span style="color: #f92672">*</span> <span style="color: #f8f8f2">argv[])</span>
<span style="color: #f8f8f2">{</span>
    <span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">sock;</span>
    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifreq</span> <span style="color: #f8f8f2">ifReq;</span>

    <span style="color: #66d9ef">if</span> <span style="color: #f8f8f2">(</span> <span style="color: #f8f8f2">(sock</span> <span style="color: #f92672">=</span> <span style="color: #f8f8f2">socket(AF_INET,</span> <span style="color: #f8f8f2">SOCK_DGRAM,</span> <span style="color: #ae81ff">0</span><span style="color: #f8f8f2">))</span> <span style="color: #f92672">&lt;</span> <span style="color: #ae81ff">0</span>  <span style="color: #f8f8f2">)</span>
    <span style="color: #f8f8f2">{</span>  
        <span style="color: #f8f8f2">fprintf(stderr,</span> <span style="color: #e6db74">"socket failed!</span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">);</span>
        <span style="color: #f8f8f2">exit(</span><span style="color: #f92672">-</span><span style="color: #ae81ff">1</span><span style="color: #f8f8f2">);</span>
     <span style="color: #f8f8f2">}</span>  

    <span style="color: #75715e">// 获取eth0 当前MTU</span>
    <span style="color: #f8f8f2">memset(</span><span style="color: #f92672">&amp;</span><span style="color: #f8f8f2">ifReq,</span> <span style="color: #ae81ff">0</span><span style="color: #f8f8f2">,</span> <span style="color: #66d9ef">sizeof</span><span style="color: #f8f8f2">(ifReq));</span>
    <span style="color: #f8f8f2">strncpy(ifReq.ifr_ifrn.ifrn_name,</span> <span style="color: #e6db74">"eth0"</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">5</span><span style="color: #f8f8f2">);</span>
    <span style="color: #66d9ef">if</span><span style="color: #f8f8f2">(ioctl(sock,</span> <span style="color: #f8f8f2">SIOCGIFMTU,</span> <span style="color: #f92672">&amp;</span><span style="color: #f8f8f2">ifReq)</span> <span style="color: #f92672">&lt;</span> <span style="color: #ae81ff">0</span> <span style="color: #f8f8f2">)</span>
    <span style="color: #f8f8f2">{</span>  
        <span style="color: #f8f8f2">perror(</span><span style="color: #e6db74">"ioctl SIOCGIFMTU error</span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">);</span>
        <span style="color: #f8f8f2">exit(</span><span style="color: #f92672">-</span><span style="color: #ae81ff">1</span><span style="color: #f8f8f2">);</span>
     <span style="color: #f8f8f2">}</span>  
    <span style="color: #f8f8f2">printf(</span><span style="color: #e6db74">"eth0's mtu is %d</span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">,</span> <span style="color: #f8f8f2">ifReq.ifr_ifru.ifru_mtu);</span>

    <span style="color: #75715e">//将eth0的MTU设置为1200</span>
    <span style="color: #f8f8f2">memset(</span><span style="color: #f92672">&amp;</span><span style="color: #f8f8f2">ifReq,</span> <span style="color: #ae81ff">0</span><span style="color: #f8f8f2">,</span> <span style="color: #66d9ef">sizeof</span><span style="color: #f8f8f2">(ifReq));</span>
    <span style="color: #f8f8f2">strncpy(ifReq.ifr_ifrn.ifrn_name,</span> <span style="color: #e6db74">"eth0"</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">5</span><span style="color: #f8f8f2">);</span>
    <span style="color: #f8f8f2">ifReq.ifr_ifru.ifru_mtu</span> <span style="color: #f92672">=</span> <span style="color: #ae81ff">1200</span><span style="color: #f8f8f2">;</span>
    <span style="color: #66d9ef">if</span><span style="color: #f8f8f2">(ioctl(sock,</span> <span style="color: #f8f8f2">SIOCSIFMTU,</span> <span style="color: #f92672">&amp;</span><span style="color: #f8f8f2">ifReq)</span> <span style="color: #f92672">&lt;</span> <span style="color: #ae81ff">0</span> <span style="color: #f8f8f2">)</span>
    <span style="color: #f8f8f2">{</span>  
        <span style="color: #f8f8f2">perror(</span><span style="color: #e6db74">"ioctl  SIOCSIFMTU error</span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">);</span>
        <span style="color: #f8f8f2">exit(</span><span style="color: #f92672">-</span><span style="color: #ae81ff">1</span><span style="color: #f8f8f2">);</span>
     <span style="color: #f8f8f2">}</span>  

    <span style="color: #75715e">// 获取eth0 修改 后MTU</span>
    <span style="color: #f8f8f2">memset(</span><span style="color: #f92672">&amp;</span><span style="color: #f8f8f2">ifReq,</span> <span style="color: #ae81ff">0</span><span style="color: #f8f8f2">,</span> <span style="color: #66d9ef">sizeof</span><span style="color: #f8f8f2">(ifReq));</span>
    <span style="color: #f8f8f2">strncpy(ifReq.ifr_ifrn.ifrn_name,</span> <span style="color: #e6db74">"eth0"</span><span style="color: #f8f8f2">,</span> <span style="color: #ae81ff">5</span><span style="color: #f8f8f2">);</span>
    <span style="color: #66d9ef">if</span><span style="color: #f8f8f2">(ioctl(sock,</span> <span style="color: #f8f8f2">SIOCGIFMTU,</span> <span style="color: #f92672">&amp;</span><span style="color: #f8f8f2">ifReq)</span> <span style="color: #f92672">&lt;</span> <span style="color: #ae81ff">0</span> <span style="color: #f8f8f2">)</span>
    <span style="color: #f8f8f2">{</span>
        <span style="color: #f8f8f2">perror(</span><span style="color: #e6db74">"ioctl SIOCGIFMTU error</span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">);</span>
        <span style="color: #f8f8f2">exit(</span><span style="color: #f92672">-</span><span style="color: #ae81ff">1</span><span style="color: #f8f8f2">);</span>

    <span style="color: #f8f8f2">}</span>
    <span style="color: #f8f8f2">printf(</span><span style="color: #e6db74">"eth0's mtu is %d</span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">,</span> <span style="color: #f8f8f2">ifReq.ifr_ifru.ifru_mtu);</span>

    <span style="color: #66d9ef">return</span> <span style="color: #ae81ff">0</span><span style="color: #f8f8f2">;</span>

<span style="color: #f8f8f2">}</span>    
</pre></div>
<p>运行结果：</p>
<div class="codehilite" style="background: #272822"><pre style="line-height: 125%">windeal@ubuntu:Windeal<span style="color: #f8f8f2">$ </span>sudo ./a.out
eth0<span style="color: #e6db74">'s mtu is 1500</span>
<span style="color: #e6db74">eth0'</span>s mtu is 1200
</pre></div>
<h3 id="ioctl_1">ioctl获取所有网络接口列表</h3>
<p>前面我们已经说过，在与网络接口相关的request中，SIOCIFCONF与众不同，它可以获取所有网络接口的列表，SIOCGIFCONF最终返回的其实是一个struct ifreq类型的数组。数组的每一项代表这一个网络接口以及它对应的ip地址。
　　我们先看下<code>struct ifconf</code></p>
<div class="codehilite" style="background: #272822"><pre style="line-height: 125%"><span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifconf</span>
<span style="color: #f8f8f2">{</span>
    <span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">ifc_len;</span>            <span style="color: #75715e">/* Size of buffer.  */</span>
    <span style="color: #66d9ef">union</span>
      <span style="color: #f8f8f2">{</span>  
        <span style="color: #66d9ef">char</span><span style="color: #f92672">*</span> <span style="color: #f8f8f2">ifcu_buf;</span>
        <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifreq</span> <span style="color: #f92672">*</span><span style="color: #f8f8f2">ifcu_req;</span>
       <span style="color: #f8f8f2">}</span> <span style="color: #f8f8f2">ifc_ifcu;</span>

<span style="color: #f8f8f2">};</span>
<span style="color: #75715e"># define ifc_buf    ifc_ifcu.ifcu_buf   /* Buffer address.  */</span>
<span style="color: #75715e"># define ifc_req    ifc_ifcu.ifcu_req   /* Array of structures.  */</span>
</pre></div>
<p>结构体struct ifconf包含两个字段，第一个字段ifc_len表示第二个字段指向的数据buf的size。第二个字段是一个联合体。
+ <strong>ifc_len：</strong>    数据区的大小
+ <strong>ifcu_buf：</strong>   用户用户设置接口参数时，保存要传给内核的接口参数。
+ <strong>ifcu_req：</strong>    用于用户向内核请求数据，从内核返回的接口信息。
　　<strong>ifcu_req指向一个struct ifreq数组，数组的每一项存储着一个接口的名字和接口的ip。 因此，<code>ifc_len/sizeof(struct ifreq)</code>就是本机的网络接口的数目。</strong>
　</p>
<div class="codehilite" style="background: #272822"><pre style="line-height: 125%"><span style="color: #75715e">#include &lt;stdio.h&gt;                                                                                                                                                                                        </span>
<span style="color: #75715e">#include &lt;stdlib.h&gt;</span>
<span style="color: #75715e">#include &lt;string.h&gt;</span>
<span style="color: #75715e">#include &lt;net/if.h&gt;</span>
<span style="color: #75715e">#include &lt;sys/ioctl.h&gt;</span>
<span style="color: #75715e">#include &lt;sys/socket.h&gt;</span>
<span style="color: #75715e">#include &lt;netinet/in.h&gt;</span>
<span style="color: #75715e">#include &lt;arpa/inet.h&gt;</span>
<span style="color: #75715e">#define MAX_IF_NUM 10  //假设本机最多10个网络接口</span>

<span style="color: #66d9ef">int</span> <span style="color: #a6e22e">main</span><span style="color: #f8f8f2">(</span><span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">argc,</span> <span style="color: #66d9ef">char</span><span style="color: #f92672">*</span> <span style="color: #f8f8f2">argv[])</span>
<span style="color: #f8f8f2">{</span> 
    <span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">sock;</span>
    <span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">ipDotBuf[</span><span style="color: #ae81ff">16</span><span style="color: #f8f8f2">];</span>  <span style="color: #75715e">//保存点分十进制地址</span>
    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifreq</span> <span style="color: #f8f8f2">ifVec[MAX_IF_NUM];</span>
    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifconf</span> <span style="color: #f8f8f2">ifConf;</span>
    <span style="color: #f8f8f2">ifConf.ifc_len</span> <span style="color: #f92672">=</span> <span style="color: #66d9ef">sizeof</span><span style="color: #f8f8f2">(ifVec);</span>
    <span style="color: #f8f8f2">ifConf.ifc_buf</span> <span style="color: #f92672">=</span> <span style="color: #f8f8f2">(</span><span style="color: #66d9ef">void</span> <span style="color: #f92672">*</span><span style="color: #f8f8f2">)ifVec;</span>
    <span style="color: #f8f8f2">printf(</span><span style="color: #e6db74">"Len: %d </span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">,</span> <span style="color: #f8f8f2">ifConf.ifc_len);</span>

    <span style="color: #66d9ef">if</span> <span style="color: #f8f8f2">(</span> <span style="color: #f8f8f2">(sock</span> <span style="color: #f92672">=</span> <span style="color: #f8f8f2">socket(AF_INET,</span> <span style="color: #f8f8f2">SOCK_DGRAM,</span> <span style="color: #ae81ff">0</span><span style="color: #f8f8f2">))</span> <span style="color: #f92672">&lt;</span> <span style="color: #ae81ff">0</span>  <span style="color: #f8f8f2">)</span>
    <span style="color: #f8f8f2">{</span>
        <span style="color: #f8f8f2">fprintf(stderr,</span> <span style="color: #e6db74">"socket failed!</span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">);</span>
        <span style="color: #f8f8f2">exit(</span><span style="color: #f92672">-</span><span style="color: #ae81ff">1</span><span style="color: #f8f8f2">);</span>

    <span style="color: #f8f8f2">}</span>  
    <span style="color: #75715e">//获取所有网络接口列表</span>
    <span style="color: #66d9ef">if</span> <span style="color: #f8f8f2">(ioctl(sock,</span> <span style="color: #f8f8f2">SIOCGIFCONF,</span> <span style="color: #f92672">&amp;</span><span style="color: #f8f8f2">ifConf)</span> <span style="color: #f92672">&lt;</span> <span style="color: #ae81ff">0</span> <span style="color: #f8f8f2">)</span>
    <span style="color: #f8f8f2">{</span>
            <span style="color: #f8f8f2">fprintf(stderr,</span> <span style="color: #e6db74">"ioctl SIOCGIFCONF failed!</span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">);</span>
            <span style="color: #f8f8f2">exit(</span><span style="color: #f92672">-</span><span style="color: #ae81ff">1</span><span style="color: #f8f8f2">);</span>

    <span style="color: #f8f8f2">}</span>
    <span style="color: #f8f8f2">printf(</span><span style="color: #e6db74">"Len: %d </span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">,</span> <span style="color: #f8f8f2">ifConf.ifc_len);</span> 

    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifreq</span> <span style="color: #f92672">*</span><span style="color: #f8f8f2">ifPt;</span>
    <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifreq</span> <span style="color: #f92672">*</span><span style="color: #f8f8f2">ifEndPt;</span> 
    <span style="color: #f8f8f2">ifPt</span> <span style="color: #f92672">=</span> <span style="color: #f8f8f2">(</span><span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifreq</span><span style="color: #f92672">*</span><span style="color: #f8f8f2">)ifVec;</span> 
    <span style="color: #f8f8f2">ifEndPt</span> <span style="color: #f92672">=</span> <span style="color: #f8f8f2">(</span><span style="color: #66d9ef">void</span> <span style="color: #f92672">*</span><span style="color: #f8f8f2">)((</span><span style="color: #66d9ef">char</span> <span style="color: #f92672">*</span><span style="color: #f8f8f2">)ifVec</span> <span style="color: #f92672">+</span> <span style="color: #f8f8f2">ifConf.ifc_len);</span>
    <span style="color: #66d9ef">for</span> <span style="color: #f8f8f2">(ifPt</span> <span style="color: #f92672">=</span> <span style="color: #f8f8f2">ifVec;</span> <span style="color: #f8f8f2">ifPt</span> <span style="color: #f92672">&lt;</span> <span style="color: #f8f8f2">ifEndPt;</span> <span style="color: #f8f8f2">ifPt</span><span style="color: #f92672">++</span><span style="color: #f8f8f2">)</span>
    <span style="color: #f8f8f2">{</span>  
        <span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">ifreq</span> <span style="color: #f8f8f2">ifReq;</span> 
        <span style="color: #66d9ef">if</span> <span style="color: #f8f8f2">(</span> <span style="color: #f8f8f2">ifPt</span><span style="color: #f92672">-&gt;</span><span style="color: #f8f8f2">ifr_addr.sa_family</span> <span style="color: #f92672">!=</span> <span style="color: #f8f8f2">AF_INET</span>  <span style="color: #f8f8f2">)</span>  
                <span style="color: #66d9ef">continue</span><span style="color: #f8f8f2">;</span>

        <span style="color: #75715e">/*  打印ip地址  */</span>
        <span style="color: #f8f8f2">printf(</span><span style="color: #e6db74">"%s</span><span style="color: #ae81ff">\n</span><span style="color: #e6db74">"</span><span style="color: #f8f8f2">,</span> <span style="color: #f8f8f2">inet_ntoa(((</span><span style="color: #66d9ef">struct</span> <span style="color: #f8f8f2">sockaddr_in</span><span style="color: #f92672">*</span><span style="color: #f8f8f2">)</span><span style="color: #f92672">&amp;</span><span style="color: #f8f8f2">(ifPt</span><span style="color: #f92672">-&gt;</span><span style="color: #f8f8f2">ifr_addr))</span><span style="color: #f92672">-&gt;</span><span style="color: #f8f8f2">sin_addr));</span>
     <span style="color: #f8f8f2">}</span>

    <span style="color: #66d9ef">return</span> <span style="color: #ae81ff">0</span><span style="color: #f8f8f2">;</span>
 <span style="color: #f8f8f2">}</span>  
</pre></div>
<p>结果如下</p>
<div class="codehilite" style="background: #272822"><pre style="line-height: 125%">windeal@ubuntu:Windeal$ ./a.out
Len: 320
Len: 64
127.0.0.1
192.168.1.106
</pre></div>
            </div>
            <!-- /.entry-content -->
<br/>
<br/>
<br/>
    <nav class="older">
<h4>
        <ul>
                <li>
                    上一篇:<a href="http://windeal.github.io/tcpip/WirelessMacFrame.html">
                        无线MAC帧详解
                    </a>
                </li>
        </ul>
</h4>
    </nav>
    <nav class="newer">
<h4>
        <ul>
                <li>
                    下一篇:<a href="http://windeal.github.io/bugs/unregister_netdevice.html">
                        unregister_netdevice: waiting for eth1 to become free？错误
                    </a>
                </li>
        </ul>
    </nav>
</h4>
    <hr/>
    <section class="comments" id="comments">
        <h2>Comments</h2>

        <div class="ds-thread" data-thread-key="<%= page.path %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var duoshuo_shortname = 'windeal4github'; // required: replace example with your forum shortname

                    var duoshuo_identifier = 'ioctlGetifconf';
                var duoshuo_url = 'http://windeal.github.io/unixcoding/ioctlGetifconf.html';

            var duoshuo_config = function () {
                this.language = "zh";
            };

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://duoshuo.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        <a href="http://duoshuo.com" class="dsq-brlink">comments powered by <span class="logo-duoshuo">Duoshuo</span></a>

    </section>
        </article>
    </section>

        </div>
        <div class="col-sm-3" id="sidebar">
            <aside>

<!--  去掉侧边栏的灰色背景
<section class="well well-sm">
-->
<section>
    <ul class="list-group list-group-flush">





    <li class="list-group-item"><h3><i class="fa fa-external-link-square fa-lg"></i><span class="icon-label">Links</span></h3>
      <ul class="list-group" id="links" style="padding-left:15px;">
        <li>
            <a href="http://blog.csdn.net/windeal3203" target="_blank">
                CSDN博客
            </a>
        </li>
        <li>
            <a href="http://coolshell.cn/" target="_blank">
                酷壳
            </a>
        </li>
        <li>
            <a href="http://cocode.cc/" target="_blank">
                CoCode
            </a>
        </li>
      </ul>
    </li>
 
    </ul>
</section>

<!--  去掉侧边栏的灰色背景
<section class="well well-sm" id="tag_cloud">
-->
<section>
    <li class="list-group-item"><a href="http://windeal.github.io/"><h3><i class="fa fa-tags fa-lg"></i><span class="icon-label">Tags</span></h3></a>
    <ul class="tagcloud" style="padding-left: 15px;">
            <a class="tag-4" href="http://windeal.github.io/tag/wireless.html">wireless</a>
            <a class="tag-4" href="http://windeal.github.io/tag/unix.html">Unix</a>
            <a class="tag-4" href="http://windeal.github.io/tag/cc.html">C/C++</a>
            <a class="tag-2" href="http://windeal.github.io/tag/linux.html">Linux</a>
            <a class="tag-1" href="http://windeal.github.io/tag/pelican.html">pelican</a>
            <a class="tag-4" href="http://windeal.github.io/tag/ioctl.html">ioctl</a>
            <a class="tag-4" href="http://windeal.github.io/tag/wang-luo-nei-he.html">网络，内核</a>
            <a class="tag-4" href="http://windeal.github.io/tag/mac.html">MAC</a>
            <a class="tag-1" href="http://windeal.github.io/tag/github.html">github</a>
    </ul>
    </li>
</section>

<!--  去掉侧边栏的灰色背景
<section class="well" id="related-posts">
-->
<section>
    <h3><B>相关文章:</B></h3>
    <ul>
        <li><a href="http://windeal.github.io/bugs/unregister_netdevice.html">unregister_netdevice: waiting for eth1 to become free？错误</a></li>
    </ul>
</section>
    
<!--  去掉侧边栏的灰色背景
<section class="well well-sm" id="tag_cloud">
-->
<section>
</section>

            </aside>
        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2015 Windeal.Li
            &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="http://windeal.github.io/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://windeal.github.io/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="http://windeal.github.io/theme/js/respond.min.js"></script>


<!-- 多说评论框 start -- >
    <div class="ds-thread"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
var duoshuoQuery = {short_name:"windeal4github"};
(function() {
        var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                        (document.getElementsByTagName('head')[0] 
                                                 || document.getElementsByTagName('body')[0]).appendChild(ds);
                                            
 })();
    </script>
    <!-- 多说公共JS代码 end -->
 
<noscript>
    Please enable JavaScript to view the comments powered by <a href="http://duoshuo.com/">DuoShuo</a>.
</noscript>    <!-- Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-69553724-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- End Google Analytics Code -->
    <!-- Google Analytics Universal -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69553724-1', 'UA-69553724-1');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Universal Code -->

</body>
</html>