table, th, td
{
    border: 1px solid black;

}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 0px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #00efef;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #440030;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.page-header
{
        color:green;
            text-align: center;

}

